<% @page_title = "Telephone Book"%>
<h1><%= @page_title %></h1>
<div class="toolbar"><%= link_to "add", :new_friend %></div>
<%# <%= button_to "add", :new_friend %>
<%# deleteは,link_toをbutton_toに直すだけでできた。 %>

<% num = 1 %>
<table class="attr">
    <% @friends.each do |friend| %>
        <tr>
            <th><%= num %></th>
            <td><%= link_to friend.name, friend %></td>
            <td><%= link_to "edit", [:edit, friend] %></td>
            <td><%= link_to "delete", friend, method: :delete,
                data: { confirm: "本当に削除しますか？" } %></td>
        </tr>
    <% num = num+1 %>
    <%= paginate @friends %>
    <% end %>
</table>

