<% @page_title = "Telephone Book" %>

<h1><%= @page_title %></h1>

<%= form_for @friend do |form| %>
    <%= render "shared/friend_form", form: form %>
    <div><%= form.submit "save" %></div>
<% end %>
<br>
<br>
<%= link_to "<<Top", :root %>